.blog-listing {
   margin-bottom: 70px;
}

.blog-listing h2 {
  color: #333;
}

.blog-listing h2 a {
  color: inherit;
  color: #575B61;
}

.blog-listing h2 a:hover,
.blog-listing h2 a:focus {
  color: #b1bac6;
  text-decoration: none;
}

.blog-listing .btn-default {
  border-color: #b1b1ac;
  border-color: #2ceefb;
  border-color: #2C90FB;
  border-color: #2576CC;
  color: #575B61;
  color: #2C90FB;
  color: #2576CC;
}

.blog-listing .btn-default:hover,
.blog-listing .btn-default:focus {
  /* background-color: #b1b1ac; */
  background-color: #2C90FB;
  background-color: #2576CC;
  color: #fff;
}

.blog-entry {
   margin-bottom: 70px;
}

.druid-header.blog {
  padding: 0;
  overflow: hidden;
}

.blog .title-spacer {
  min-height: 240px;
}
.blog .title-image-wrap {
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  position: relative;
  overflow: hidden;
  min-height: 45px;
  /* min-height: 200px; */
}

.blog-entry img {
  max-width: 100%;
}

.blog .title-image {
  position: absolute;
  min-width: 30%;
  min-height: 200px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0px 2px 9px rgba(0,0,0,.5);
}

.recents ul li {
   font-weight: 400;
   margin-bottom: 15px;
}


