.druid-masthead {
  /* border-top: 1px solid #3b3b50; */
  border-top: 1px solid rgba(44,238,251, .7);
  border-image: radial-gradient(#2ceefb, #2ceefb 10%, #1c1c26) 100% 1;
  border-width: 1px 0 0 0;
  padding: 0 0 30px;
  /* color: #fff; */
  color: #c3c3c5;
  background-color: #1C1C26;
  text-align: center;
  margin: 0 auto 30px;
}

.druid-masthead .btn-lg {
  min-width: 145px;
}

.druid-masthead .text-muted {
  color: rgba(177,186,198,.7);
  /* color: #c3c3c5; */
}

.druid-footer {
  padding: 40px 0;
  /* background-color: #eee; */
  background-color: #f3f3f3;
  border-top: 1px solid white;
  margin-top: 50px;
}

.druid-header {
  padding: 30px 0 30px;
  margin-bottom: 40px;
  color: #1c1c26;
  text-align: center;
  background-image: url('/img/druid_watermark_30.png');
  background-size: 400px 400px;
  background-repeat: no-repeat;
  background-position: 10% -90px;
  background-color: #f3f3f3;
  /* background-color: #eee; */
  /* background-color: #B6B5AD; */
  /* background-color: #EDECE2; */
  box-shadow: 0px 2px 9px rgba(0,0,0,.2);
  overflow: hidden;
}

.druid-panel {
  background-color: #2e2e2e;
  background-color: #1C1C26;
  color: #fff;
  padding: 30px 0;
  margin-bottom: -50px;
}

.druid-panel a {
  color: rgba(177,186,198,.7)
}

.druid-panel h3 {
  color: #2ceefb
}

.blog h2 {
  font-weight: 400;
  font-size: 24px;
}

.druid-logo {
  display: block;
  width: 120px;
  height: 22px;
  background-position:center;
  background-image: url('/img/druid_nav.png');
  background-size: 69px 19px;
  background-repeat: no-repeat;
}

.druid-bootlogo {
  display: block;
  margin: 0 auto;
  width: 270px;
  height: 209px;
  background-size: 450px 209px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/img/druid.png');
  background-image: -webkit-image-set(
    url('/img/druid.png') 1x,
    url('/img/druid_2x.png') 2x
  );
}

.druid-booticon {
  display: block;
  text-align: center;
  width: 340px;
  height: 144px;
  line-height: 140px;
  font-size: 64px;
  border-radius: 20px;
  /* border: 1px solid #fff; */
}

.druid-mark {
  color: #2ceefb;
  font-size: 1.69em;
  line-height: 30%;
  font-weight: 100;
}
.druid-logotype {
  color: #fff;
  font-family: 'Open Sans';
  letter-spacing: .05em;
  font-style: italic;
  font-weight: 100;
}

.btn-outline {
  display: block;
  width: 260px;
  margin: auto;
  color: #000;
  border-color: #000;
  text-align: center;
  background-position: center;
}

.btn-outline:hover,
.btn-outline:focus {
  background-color: #F0F0F0;
}

.btn-outline-inverse {
  /* color: rgba(255,255,255,0.7); */
  color: #fff;
  /* border-color: rgba(255,255,255,0.7); */
  border-color: rgba(177,186,198,.7);
  /* border-color: #fff; */
}

.btn-outline-inverse:hover,
.btn-outline-inverse:focus {
  background-color: #fff;
}

.druid-nav {
  margin-bottom: 0;
  background-color: #1C1C26;
  border: 0px;
}

.druid-nav .navbar-inverse{
  border-color: transparent;
}

.druid-nav .navbar-nav>.active>a {
  background-color: #0d0d12;
  border-bottom: 3px solid #2ceefb;
  padding-bottom: 12px;
}

.druid-sidebar.affix {
  top: 10px;
}

.druid-sidebar .nav>.active>a {
  border-left: 3px solid #2ceefb;
  padding-left: 12px;
}

/* bootstrap overrides */

a {
  color: #2576CC;
}

a:hover, a:focus {
  /* color: #1a5491; */
  color: #b1bac6;
  text-decoration: none;
}

.navbar {
   font-weight: 300;
}

.navbar-inverse .navbar-nav>li>a {
  color: rgba(177,186,198,.7);
  transition: color 0.1s ease;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15em
}

.nav>li>a {
  padding-left: 10px;
  padding-right: 10px;
}

/* .navbar-collapse { */
/*    padding-left: 20px; */
/*    padding-right: 5px; */
/*    margin-left: 15px; */
/* } */

.social-button.twitter {
  background: 10px center no-repeat url('/img/twitter.png');
  padding-left: 40px;
}

.header-li {
  margin-left: 0px;
}

.header-a {
  margin-right: 0px;
  margin-left: -12px;
}
