/* @font-face {
    font-family: 'Conv_framd';
    src: url('../fonts/framd.eot');
    src: url('../fonts/framd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/framd.woff') format('woff'),
         url('../fonts/framd.ttf') format('truetype'),
         url('../fonts/framd.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;
} */

html, body {
	position:relative;
	height:100%;
	min-height:100%;
	height:100%;	
	color:#252525;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-weight: 400;
	 /* font:400 14px/26px 'Open Sans', Arial, Helvetica, sans-serif; */
	margin:0;
	word-wrap:break-word;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h4, .h4 {
   font-size: 20px;
   font-weight: 200;
}

h2 {
   margin-top: 30px;
}

hr {
  margin: 30px 0 30px 0;
}

p {
  line-height: 1.7em;
}

blockquote {
  font-size: 14px;
  font-style: italic;
  color: #777;
}

li {
  line-height: 1.7em;
}

.text-indent {
   padding-left: 50px;
}

.text-indent-2 {
   padding-left: 100px;
}

.text-indent-p p {
   padding-left: 50px;
}

/* code { */
/*    color: inherit; */
/*    background-color: transparent; */
/* } */

.page-header {
   margin-bottom: 40px;
   text-align: center;
}

.easter-egg {
   color: transparent;
}

.gist{font-size:13px;line-height:15px;}
