.toc ul {
   list-style: none;
   list-style-position: inside;
   padding-left: 15px;
}

.toc p {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Icon when showing collapsible content */
.menu:after {
   content: "\25BE";
}

/* Icon when collapsible content hidden */
.menu.collapsed:after {
   content: "\25B8";
}

div#toc {
    margin-top: 20px;    
}
#toc p a {
   font-size: 20px;
}
#toc .collapse p a,#toc .collapsing p a {
    font-size: 14px;
    font-weight: bold
}

#toc .highlight {
    background-color: #2576CC;
    color: white;
}

#toc .collapse, #toc .collapsing {
    margin-left: 20px;
}
