.toc ul {
   list-style: none;
   list-style-position: inside;
   padding-left: 15px;
}

/* icon when showing collapsible content */
.menu:after {
   content: "\25BE";
}

/* icon when collapsible content hidden */
.menu.collapsed:after {
   content: "\25B8";
}
