<!-- Start page_footer include -->
<footer class="ds-footer">
<div class="container">
  <div class="text-center">
    <p>
    <a href="/overview.html"><span class="fa fa-info-circle"></span> Overview</a>>&ensp;·&ensp;
    <a href="/downloads.html"><span class="fa fa-download"></span> Download</a>&ensp;·&ensp;
    <a href="https://github.com/datasketches"><span class="fa fa-github"></span> GitHub</a>&ensp;·&ensp;
    <a href="https://groups.google.com/forum/#!forum/sketches-user"><span class="fa fa-comment"></span> Comments</a>&ensp;·&ensp;
    <a href="/LICENSE.html">Licensing</a>
    </p>
  </div>
</div>
</footer>

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- stop page_footer include -->
