<!-- Start page_footer.html include -->
<footer class="ds-footer">
  <div class="container">
    <div class="text-center">
      <p>
        <a href="/overview.html">
          <span class="fa fa-info-circle"></span> Overview</a>&ensp;·&ensp;
        <a href="/docs/downloads.html">
          <span class="fa fa-download"></span> Download</a>&ensp;·&ensp;
        <a href="https://github.com/apache?utf8=%E2%9C%93&q=datasketches">
          <span class="fa fa-github"></span> GitHub</a>&ensp;·&ensp;
        <a href="https://groups.google.com/forum/#!forum/sketches-user">
          <span class="fa fa-comment"></span> Comments</a>&ensp;·&ensp;
        <a href="https://github.com/DataSketches/DataSketches.github.io/blob/master/LICENSE">Licensing</a>
      </p>
    </div>
  </div>
</footer>
<!-- End page_footer.html include -->
