<!-- Start page_header include -->
<div class="navbar navbar-inverse navbar-static-top druid-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Data Sketches</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if page.sectionid == 'sketches' %} active{% endif %}"><a href="/sketches.html">Overview</a></li>
        <li class="{% if page.sectionid == 'docs' %} active{% endif %}"><a href="/docs/{{ site.druid_version }}/">Docs</a></li>
        <li class="{% if page.sectionid == 'download' %} active{% endif %}"><a href="/downloads.html">Download</a></li>
        <li class="{% if page.sectionid == 'community' %} active{% endif %}"><a href="/community/">Community</a></li>
        <li><a href="https://github.com/datasketches/sketches-core/" class="fa fa-github"></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Stop page_header include -->
