<!-- Start page_footer include -->
<footer class="druid-footer">
<div class="container">
  <div class="text-center">
    <p>
    <a href="/community/">Contact Us</a>&ensp;·&ensp;
    <a href="/downloads.html">Downloads</a>&ensp;·&ensp;
    <a href="/faq.html">FAQ</a>&ensp;·&ensp;
    <a href="/licensing.html">Licensing</a>
    </p>
  </div>
  <div class="text-center">
    <a href="https://github.com/datasketches/sketches-core"><span class="fa fa-lg fa-github"></span></a>
  </div>
  <div class="text-center">
    Styling of website lovingly borrowed, with permission, from <a href="http://www.druid.io">druid.io</a>.
  </div>
</div>
</footer>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/assets/js/druid.js"></script>
<!-- stop page_footer include -->
