<!-- Start page_header include -->
<div class="navbar navbar-inverse navbar-static-top ds-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Data Sketches</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if page.sectionid == 'overview' %} active{% endif %}"><a href="/docs/KeyFeatures.html">Overview</a></li>
        <li class="{% if page.sectionid == 'docs' %} active{% endif %}"><a href="/docs/theChallenge.html">Docs</a></li> <!-- {{ site.version}} -->
        <li class="{% if page.sectionid == 'download' %} active{% endif %}"><a href="/downloads.html">Download</a></li>
<!-- 
        <li class="{% if page.sectionid == 'community' %} active{% endif %}"><a href="/community/community.html">Community</a></li>
        <li class="{% if page.sectionid == 'blog' %} active{% endif %}"><a href="/blog">Blog</a></li>
        <li><a href="https://twitter.com/dsio/" class="fa fa-twitter"></a></li>  
-->
        <li><a href="https://github.com/datasketches/sketches-core/" class="fa fa-github"></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Stop page_header include -->
