<!-- Start page_header include -->
<div class="navbar navbar-inverse navbar-static-top ds-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo"  href="/">Data Sketches</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/overview.html"><span class="fa fa-info-circle"></span> OVERVIEW</a></li>
        <li><a href="/downloads.html"><span class="fa fa-download"></span> DOWNLOAD</a></li>
        <li><a href="https://github.com/datasketches"><span class="fa fa-github"></span> GITHUB</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/sketches-user"><span class="fa fa-comment"></span> COMMENTS</a></li>

      </ul>
    </div>
  </div>
</div>
<!-- Stop page_header include -->
