/*
@import "stylesheetOrig.css";
*/

body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px; 
}
pre {
   font-family: monospace;
   font-size: 12px; 
}
code, tt, dt code, table tr td dt code  {
   font-family: monospace;
   font-size: 12px; 
}
.contentContainer .description dl dt, .contentContainer .details dl dt, .serializedFormContainer dl dt {
   font-size: 13px; 
}
.contentContainer .description dl dd, .contentContainer .details dl dd, .serializedFormContainer dl dd {
   margin-left: 20px;
   font-size: 12px;
   font-family: inherit;
}
div.block {
   font-size: 12px;
   font-family: inherit;
}
h4 {
   font-size: 15px;
}
.memberSummary caption {
   padding-top: 0;
}
div.summary th {
   border: 1px solid #9eadc0;
}
div.summary td {
   border-left: 1px solid #9eadc0;
   border-right: 1px solid #9eadc0;
}
div.summary th.colFirst,
div.summary td.colFirst {
   border-right: none;
}
div.summary th.colLast,
div.summary td.colLast {
   border-left: none;
}
div.summary table {
   border-bottom: 1px solid #9eadc0;
   margin-bottom: 15px;
}
div.summary ul.blockList ul.blockList ul.blockList {
   margin-top: 20px;
}
ul.blockList ul.blockList li.blockList,
ul.blockList ul.blockList ul.blockList li.blockList,
ul.blockList ul.blockList ul.blockListLast li.blockList {
   border: 1px solid #9eadc0;
}
div.summary ul.blockList ul.blockList ul.blockList li.blockList h3,
div.details ul.blockList ul.blockList ul.blockList li.blockList h4,
div.details ul.blockList ul.blockList ul.blockListLast li.blockList h4 {
   border-bottom: 1px solid #9eadc0; 
}
