<!DOCTYPE html>
<!-- Start _layouts/doc_page.html-->
<html lang="en">

<head>
  {% include site_head.html %}
</head>

<body>
  {% include page_header.html %}

  <div class="ds-header">
    <div class="container">
      <h4>API Snapshots:
        <a href="/api/java/snapshot/apidocs/index.html">Java Core</a>,
        <a href="/api/memory/snapshot/apidocs/index.html">Memory</a>,
        <a href="/api/pig/snapshot/apidocs/index.html">Pig</a>,
        <a href="/api/hive/snapshot/apidocs/index.html">Hive</a>,
      </h4>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="searchbox" style="position:relative">
          <gcse:searchbox-only></gcse:searchbox-only>
        </div>
        {% include toc.html %}
      </div>
      <div class="col-md-9 doc-content">
        <a class="btn btn-default btn-xs visible-xs-inline-block visible-sm-inline-block" href="/docs/toc.html">Table of Contents</a>
        {{ content }}
      </div>
    </div>
  </div>

  {% include page_footer.html %}
</body>

</html>
<!-- End _layouts/doc_page.html-->
