<!DOCTYPE html>
<!-- Start _layouts/table_page.html-->
<html lang="en">

<head>
  {% include site_head.html %}
</head>

<body>
  {% include page_header.html %}

  <div class="ds-header">
    <div class="container">
      <h1>{{ page.title }}</h1>
      <h3>{{ page.subtitle }}</h3>
      <h4>API Snapshots:
        <a href="/api/core/snapshot/apidocs/index.html">Core</a>,
        <a href="/api/pig/snapshot/apidocs/index.html">Pig</a>,
        <a href="/api/hive/snapshot/apidocs/index.html">Hive</a>,
        <a href="/api/misc/snapshot/apidocs/index.html">Misc</a>
      </h4>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9 doc-content">
        <p>
          <a class="btn btn-default btn-xs visible-xs-inline-block visible-sm-inline-block" href="/docs/toc.html">Table of Contents</a>
          {{ content }}
      </div>
      <!-- 
        <div class="col-md-3">
          <div class="searchbox" style="position:relative">
            <gcse:searchbox-only></gcse:searchbox-only>
          </div>
          <div id="toc" class="nav toc hidden-print">
          </div>
        </div> -->
    </div>
  </div>

  {% include page_footer.html %}

  <script>$(function () { $(".toc").load("/docs/toc.html"); });</script>
</body>

</html>
<!-- End _layouts/table_page.html-->
